<main>
    <app-navbar></app-navbar>

    <section class="details-content">
        <article class="post-details-article">
            <h2>Full Post Details</h2>
            <h4>{{ postDetail?.title }}</h4>
            <p>{{ postDetail?.body }}</p>
        </article>

        <article class="post-comments-article">
            <h4 class="comments-intro">There are {{ postComments.length }} comments for this post</h4>

            @for( comment of postComments; track comment.id ) {
                <div class="comment-div">
                    <p>{{ comment.email }}</p>
                    <h4>{{ comment.body }}</h4>
                </div>
            }
        </article>
    </section>

</main>
