main {
    max-width: 100%;
    height: 100vh;
    // background-color: red;
}


.details-content {
    // background-color: yellow;
    max-width: 60rem;
    margin: 3rem auto;
    height: auto;


    .post-details-article {
        margin-bottom: 2rem;
    }
}


.comment-div {
    margin-bottom: 1rem;
}