.main-section {
    padding: 2rem;
}

.intro-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}


.post-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;


    section {
        background-color: antiquewhite;
        border-radius: 0.625rem;
        padding: 1rem;
    }

    span {
        background-color: maroon;
        color: white;
        margin-right: 1rem;
        border-radius: 0.625rem;
        padding: 0.5rem;
        cursor: pointer;
    }

}


button {
    background-color: maroon;
    color: white;
    border-radius: 0.625rem;
    padding: 0.5rem;
}
