<main>
    <app-navbar></app-navbar>

    <section class="main-section">
        <div class="intro-div">
            <h2 class="total-posts-header">Total Posts: {{ totalPosts }}</h2>
            <app-pagination
                *ngIf="totalPosts > 0"
                [totalItems]="totalPosts"
                [itemsPerPage]="limit"
                [currentPage]="currentPage"
                (pageChanged)="onPageChange($event)">
            </app-pagination>
        </div>

        <button (click)="navigateToCreateNewPost()" class="new-post-btn">+ New Post</button>

        <article class="post-list-container">
                @for( post of PostsArray; track $index ) {
                    <section class="post-card">
                        <div class="post-info-div">
                            <img 
                                src="https://img.favpng.com/13/2/23/dialogue-assets-icon-comment-icon-chat-icon-Wq0hTNDy.jpg"
                                class="post-user-image" alt="post-ivon" >

                            <h2 class="post-title">{{ post.title.slice(0, 33) }}...</h2>  
                            <p class="post-body">{{ post.body.slice(0, 100) }}...</p>
                        </div>

                        <div class="action-buttons-div">
                            <button (click)="navigateToEditPost(post.id)">Edit</button>
                            <button (click)="openDeleteModal(post.id)">Delete</button>
                            <button (click)="navigateToPostDetails(post.id)">Details</button>
                        </div>


                        <div class="delete-modal-section" *ngIf="showDeleteModal && selectedPostID === post.id">
                            <div class="modal">
                                <div>
                                    <h3>Are you sure you want to delete this post? </h3>
                                    <p class="delete-post-title">"{{ post.title }}"</p>
                                    <p>This action cannot be reversed</p>
                                </div>

                                <div class="modal-action-btns">
                                    <button class="modal-yes-delete-btn" (click)="deletePostItem(post.id)">Yes, delete</button>
                                    <button class="modal-cancel-btn" (click)="closeDeleteModal()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        
                    </section>
                }
                @empty {
                    <section class="no-posts">
                        <h3>Sorry, there are no posts to display now...</h3>
                    </section>
                }

            </article>

    </section>


</main>
