@use '../../../styling/reusables' as *;

main {
    // background-color: green;
    max-width: 100%;



    .main-section {
        padding: 2rem;
        // background-color: red;

        .total-posts-header {
            font-size: 1.3rem;
        }

        .new-post-btn {
            @include primary-btn-styling();
            width: 8rem;
            margin-bottom: 2rem;

        }

        
        .intro-div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 3rem;
            // background-color: yellow;
        }


        .list-action-icon {
            width: 30px;
            height: 30px;
        }


        .post-list-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
            gap: 1.5rem;
            // background-color: green;
            // width: 100%;
        }


        .post-card {
            // max-width: 21rem;
            height: 19rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // background-color: antiquewhite;
            background-color: $accent-color;
            border-radius: 0.625rem;
            padding: 1rem;
            box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.1);
        }


        // .post-info-div {

        // }

        .post-user-image {
            width: 4rem;
            height: 4rem;
            margin-bottom: 1rem;
            border-radius: 0.625rem;
        }

        .post-title {
            margin-bottom: 0.7rem;
        }

        .post-body {
            margin-bottom: 1rem;
        }

        .action-buttons-div {
            display: flex;
            justify-content: start;
            gap: 1rem;
        }

        button {
            // background-color: $primary-color;
            // width: 3rem;
            // color: white;
            // border-radius: 0.625rem;
            // padding: 0.3rem;
            // cursor: pointer;

            @include primary-btn-styling();
            width: 3rem;
            padding: 0.3rem;

        }


        .delete-modal-section {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.06);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2000;
        }


        .modal {
            width: 20rem;
            height: 15rem;
            background-color: #fff;
            border-radius: 0.625rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            h3 {
                margin-bottom: 1rem;
            }

            p {
                margin-bottom: 1rem;
            }

            .delete-post-title {
                color: darkslategrey;
            }


            .modal-action-btns {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
            }


            .modal-yes-delete-btn {
                background-color: red;
                width: 7rem;
                height: 2.7rem;

            }


            .modal-cancel-btn {
                background-color: $cancel-btn-bg;
                width: 7rem;
                height: 2.7rem;
            }



        }






    }

}





@media (max-width: 599px) {
    .intro-div {
        display: flex;
        flex-direction: column;
        
        // background-color: yellow;
    }
}


@media (min-width: 600px) and (max-width: 1023px) {
    .intro-div {
        display: flex;
        flex-direction: column;
        
        // background-color: yellow;
    }
}