@use '../../../styling/reusables' as *;


.error-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 2rem;
  left: 50%;
  width: 40%;
  transform: translateX(-50%);
  background-color: $error-banner-bg;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 999;
  animation: fade-in 0.3s ease;
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}


.close-icon {
  width: 22px;
  cursor: pointer;
}




@media (max-width: 1023px) {
  .error-banner {
    width: 70%;
  }
}