.pagination-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
//   margin-top: 2rem;

  .pagination-buttons {
    // display: flex;
    // flex-wrap: wrap;
  }

  button {
    background-color: #eee;
    border: none;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    border-radius: 4px;

    &.active {
      background-color: maroon;
      color: white;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}





@media (max-width: 1023px) {
    .pagination-wrapper {
        justify-self: start;
        margin-top: 2rem;
    }
}