@use '../../../styling/reusables' as *;

.main-wrapper {
    max-width: 100%;
    height: 100vh
}


.create-post {
    max-width: 35rem;
    min-width: 50%;
    padding: 0 2rem;
    height: 70vh;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;

    label {
        font-weight: bold;
    }

    .edit-post-header {
        color: $primary-color;
        font-size: 2rem;
        margin-bottom: 0.2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 2rem 0 0 0;

    }

    .post-title-div {
        margin-bottom: 2rem;
    }

    .post-body-div {
        margin-bottom: 2rem;
    }


    .post-title {
        width: 100%;
        height: 4rem;
        border-radius: 0.625rem;
        border: 1px solid grey;
        padding: 1rem;
        margin-top: 0.5rem;
        font-size: 1rem;
    }

    .post-body {
        margin-top: 0.5rem;
        padding: 1rem;
        width: 100%;
        border-radius: 0.625rem;
        border: 1px solid grey;
        font-size: 1rem;
    }

    .action-btn-article {
        display: flex;
        gap: 1rem;
    }

    .create-post-btn {
        @include primary-btn-styling();
        width: 80%;
    }

    .cancel-post-btn {
        @include primary-btn-styling();
        background-color: $cancel-btn-bg;
        width: 80%;
        
    }


    small{
        color: red;
        font-size: 1rem;
    }

}





/* mobile responsiveness */
@media (max-width: 599px) {
    .create-post {
       max-width: 80%;
    }
}