<main class="main-wrapper">
    <app-navbar></app-navbar>

    <section class="create-post" *ngIf="oldPostItem !== null">
        <h3 class="edit-post-header">Edit Post</h3>
        <p class="intro-text">Need to make a few changes? Give your post a little polish</p>
        
        <form [formGroup]="editForm" (ngSubmit)="handleEditPostItem()">
            <article>
                <div class="post-title-div">
                    <label for="postTitle">Post Title</label>
                    <div>
                        <input type="text" class="post-title" id="postTitle" formControlName="postTitle" />
                    </div>
                </div>
                
                <div class="post-body-div">
                    <label for="postBody">Post Body</label>
                    <div>
                        <textarea type="text" class="post-body" id="postBody" formControlName="postBody" rows="10">
                        </textarea>
                    </div>
                </div>
            </article>

            <article class="action-btn-article">
                <button type="submit" class="create-post-btn">Edit Post</button>
                <button type="submit" class="cancel-post-btn">Cancel</button>
            </article>
        </form>
    </section>


    <section *ngIf="noPostItemFound">
        <app-reusable-not-found [errorInfoText]="errorInfoText" [goToHomeBtnText]="goToHomeBtnText"></app-reusable-not-found>
    </section>



</main>
