<main class="main-wrapper">
    <app-navbar></app-navbar>

    <section class="create-post">
        <h3 class="create-post-header">Write Something Great</h3>
        <p class="intro-text">Share what’s on your mind — the world is listening.</p>
        
        <form [formGroup]="postForm" (ngSubmit)="submitPost()">
            <article>
                <div class="post-title-div">
                    <label for="postTitle">Post Title</label>
                    <div>
                        <div class="error" *ngIf="postForm.controls['postTitle'].invalid && (formSubmitted || postForm.controls['postTitle'].touched)">
                            <small *ngIf="postForm.controls['postTitle'].errors?.['required']">
                                Title is required.
                            </small>
                            <small *ngIf="postForm.controls['postTitle'].errors?.['minlength']">
                                Title must be at least 8 characters long.
                            </small>
                        </div>                        
                        <input type="text" class="post-title" id="postTitle" formControlName="postTitle" />
                    </div>
                </div>
                

                <div class="post-body-div">
                    <label for="postBody">Post Body</label>
                    <div class="error" *ngIf="postForm.controls['postBody'].invalid && (formSubmitted || postForm.controls['postBody'].touched)">
                        <small *ngIf="postForm.controls['postBody'].errors?.['required']">
                            Body is required.
                        </small>
                    </div>                    
                    <div>
                        
                    <textarea type="text" class="post-body" id="postBody" formControlName="postBody" rows="10   ">
                    </textarea>
                    </div>
                </div>
            </article>

            <article class="action-btn-article">
                <button type="submit" class="create-post-btn">Create new post</button>
                <button type="button" class="cancel-post-btn" (click)="goToHome()">Cancel</button>
            </article>

        </form>
    </section>
</main>

