<!-- <button (click)="submitPost()">Create Post</button> -->

<section class="create-post">
    <form [formGroup]="postForm" (ngSubmit)="submitPost()">
        <label for="postTitle">Post Title</label>
        <input type="text" class="post-title" id="postTitle" formControlName="postTitle" />
        
        <label for="postBody">Post Body</label>
        <input type="text" class="post-body" id="postBody" formControlName="postBody" />

        <button type="submit" class="create-post-btn">Create new post</button>
    </form>
</section>
